$yellow:#fdd953;
$red:#e84e40;

.paysuccess-contain{
	width:100%;
	height:100%;
	overflow:scroll;
	-webkit-overflow-scrolling : touch;
	.paysuccess-top{
		width:100%;
		height:260px;
		padding-top:22px;
		background:#fff;
		.paysuccess-top-pic{
			margin:46px auto 12px;
			width:106px;
			height:106px;
			background:url(../../image/cat@2x.png);
			background-size:100%;
		}
		.paysuccess-top-text{
			padding-left:12px;
			width:100%;
			text-align: center;
			font-size: 18px;
			margin-bottom:4px;
		}
		.paysuccess-top-price{
			width:100%;
			text-align: center;
			.paysuccess-top-price-left{
				font-size: 14px;
			}
			.paysuccess-top-price-right{
				font-size: 24px;
			}
		}
	}
	.paysuccess-title{
		width:100%;
		height:48px;
		line-height: 48px;
		text-align: center;
	}
	.paysuccess-list{
		width:100%;
		.paysuccess-item{
			margin:0 auto 15px;
			width:92%;
			height:65px;
			line-height: 65px;
			background:#fff;
			border-radius:2px;
			padding-left:8px;
			padding-right:18px;
			.paysuccess-item-pic{
				float:left;
				width:50px;
				height:50px;
				margin-right:8px;
				margin-top: 7px;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
			}
			.paysuccess-item-text{
				float:left;
				font-size: 13px;
			}
			.paysuccess-item-right{
				float:right;
				.paysuccess-item-num{
					float:left;
					font-size: 13px;
					margin-right:16px;
				}
				.paysuccess-item-price{
					float:left;
					.paysuccess-item-price-left{
						font-size: 12px;
						transform: scale(.8);
						transform-origin: 0 100%;
					}
					.paysuccess-item-price-right{
						font-size: 14px;
					}
				}
			}
		}
		.paysuccess-more{
			width:100%;
			text-align: center;
			color:#444;
			margin-bottom:48px;
		}
		.has-problem{
			margin:0 auto;
			width:60%;
			height:40px;
			line-height: 40px;
			background:$yellow;
			text-align: center;
			color:#444;
			font-size: 14px;
			margin-bottom:48px;
		}
	}
}
.solve-problem-contain{
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	background:rgba(0,0,0,.5);
	.solve-problem-content{
		position:absolute;
		left:0;
		top:0;
		right:0;
		bottom:0;
		margin:auto;
		width:80%;
		height:200px;
		background:#fff;
		border-radius: 4px;
		border:1px solid #e5e5e5;
		.solve-problem-closebtn{
			position: relative;
			&:before {
		    content: '';
		    position: absolute;
		    top: -10px;
		    left: -10px;
		    right: -10px;
		    bottom: -10px;
		  }
			float:right;
			width:10px;
			height:10px;
			margin-top:10px;
			margin-right:10px;
			background-size: 100%;
		}
		.open{
			margin:40px auto;
			width:50%;
			height:40px;
			line-height: 40px;
			background:$yellow;
			font-size: 14px;
			text-align: center;
		}
		.contact{
			margin:0 auto 40px;
			width:50%;
			height:40px;
			line-height: 40px;
			background:$yellow;
			font-size: 14px;
			text-align: center;
		}
	}
}