#app {
  width: 100%;
  height: 100%;
}
.bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  z-index: -1;
}
input[type=checkbox] {
  position: relative;
  width: 18px;
  height: 18px;
  -webkit-appearance: none;
  background-image: url("../../image/purchase/check.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #fff;
}
input[type=checkbox]:before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
}
input[type=checkbox]:checked {
  background-image: url("../../image/purchase/check2.png");
}
.purchase {
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 100%;
  background: #f2f2f2;
}
.purchase .goods-detail-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 0 15px;
  z-index: 210;
}
.purchase .goods-detail-header .goods-detail-header-left {
  width: 130px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.purchase .goods-detail-header .goods-detail-header-left .goods-detail-header-left-pic {
  width: 20px;
  height: 18px;
  background-image: url("../../image/goods-detail/shop.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.purchase .goods-detail-header .goods-detail-header-left .goods-detail-header-left-text {
  font-size: 14px;
  color: #000;
  font-weight: bold;
}
.purchase .goods-detail-header .goods-detail-header-right {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.purchase .goods-detail-header .goods-detail-header-right .goods-detail-header-right-text {
  font-size: 14px;
  color: #000;
}
.purchase .goods-list {
  padding: 48px 0 58px;
}
.purchase .goods-list .goods-item {
  width: 100%;
  height: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  background: #fff;
}
.purchase .goods-list .goods-item:last-child .goods-item-right:after {
  border-top: none;
}
.purchase .goods-list .goods-item-pic {
  width: 75px;
  height: 75px;
  background-image: url("../../image/goods-show/img05.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.purchase .goods-list .goods-item-right {
  width: calc(100% - 113px);
  height: 95px;
  padding: 10px 15px 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.purchase .goods-list .goods-item-right:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #d7d7d7;
  content: ' ';
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  .purchase .goods-list .goods-item-right:after {
    transform: scaleY(0.5);
  }
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .purchase .goods-list .goods-item-right:after {
    transform: scaleY(0.4);
  }
}
.purchase .goods-list .goods-item-right .goods-item-text {
  width: 100%;
  font-size: 13px;
  color: #333;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
}
.purchase .goods-list .goods-item-right .goods-item-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.purchase .goods-list .goods-item-right .goods-item-bottom .goods-item-price {
  font-size: 16px;
  color: #e51c23;
}
.purchase .goods-list .goods-item-right .goods-item-bottom .goods-item-num-contain {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.purchase .goods-list .goods-item-right .goods-item-bottom .goods-item-num-contain .goods-item-num-minus {
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid #d7d7d7;
  border-radius: 2px 0 0 2px;
  background-image: url("../../image/goods-detail/reduce.png");
  background-position: center;
  background-size: 12px 1px;
  background-repeat: no-repeat;
}
.purchase .goods-list .goods-item-right .goods-item-bottom .goods-item-num-contain .goods-item-num-minus:before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  bottom: -10px;
}
.purchase .goods-list .goods-item-right .goods-item-bottom .goods-item-num-contain .goods-item-num-input {
  width: 30px;
  height: 30px;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  text-align: center;
}
.purchase .goods-list .goods-item-right .goods-item-bottom .goods-item-num-contain .goods-item-num-plus {
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid #d7d7d7;
  border-radius: 0 2px 2px 0;
  background-image: url("../../image/goods-detail/increase.png");
  background-position: center;
  background-size: 12px;
  background-repeat: no-repeat;
}
.purchase .goods-list .goods-item-right .goods-item-bottom .goods-item-num-contain .goods-item-num-plus:before {
  content: '';
  position: absolute;
  top: -10px;
  right: -10px;
  bottom: -10px;
}
.purchase .purchase-footer {
  position: relative;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  z-index: 210;
  padding-left: 15px;
}
.purchase .purchase-footer:after {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border-top: 1px solid #d7d7d7;
  transform: scaleY(1);
  content: ' ';
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  .purchase .purchase-footer:after {
    transform: scaleY(0.5);
  }
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .purchase .purchase-footer:after {
    transform: scaleY(0.4);
  }
}
.purchase .purchase-footer .footer-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.purchase .purchase-footer .footer-left .total-select[type=checkbox] {
  margin-right: 8px;
}
.purchase .purchase-footer .footer-left .total-text {
  font-size: 14px;
  color: #000;
}
.purchase .purchase-footer .footer-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.purchase .purchase-footer .footer-right .footer-right-left .footer-right-left-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.purchase .purchase-footer .footer-right .footer-right-left .footer-right-left-top .total-price-text {
  font-size: 13px;
  color: #000;
  height: 17px;
  line-height: 17px;
}
.purchase .purchase-footer .footer-right .footer-right-left .footer-right-left-top .total-price {
  font-size: 16px;
  color: #e51c23;
  height: 17px;
  line-height: 17px;
}
.purchase .purchase-footer .footer-right .footer-right-left .footer-right-left-bottom {
  font-size: 12px;
  color: #999;
  text-align: right;
  height: 17px;
  line-height: 17px;
}
.purchase .purchase-footer .footer-right .submit-btn {
  width: 125px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background: #e51c23;
  color: #fff;
  font-size: 16px;
  margin-left: 10px;
  z-index: 220;
}
.purchase .empty-page {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.purchase .empty-page .empty-round {
  position: absolute;
  left: 50%;
  top: 173px;
  width: 880px;
  height: 880px;
  margin-left: -440px;
  border-radius: 50%;
  background: #fff;
  z-index: 0;
}
.purchase .empty-page .empty-content {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.purchase .empty-page .empty-content .empty-icon {
  margin: 91px auto 29px;
  width: 110px;
  height: 143px;
  background-image: url("../../image/empty/cart_empty.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.purchase .empty-page .empty-content .text-contain {
  width: 100%;
  height: 82px;
}
.purchase .empty-page .empty-content .text-contain .empty-text1 {
  text-align: center;
  font-size: 14px;
  color: #666;
  height: 26px;
  line-height: 26px;
}
.purchase .empty-page .empty-content .text-contain .empty-text2 {
  text-align: center;
  font-size: 12px;
  color: #000;
  height: 23px;
  line-height: 23px;
}
.purchase .empty-page .empty-content .link-btn {
  margin: 0 auto;
  width: 84px;
  height: 35px;
  line-height: 35px;
  border-radius: 3px;
  border: 1px solid #e51c23;
  text-align: center;
  font-size: 16px;
  color: #e51c23;
}
.purchase .empty-bg-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30%;
  background: #fff;
}
